body{
     font-family: 'Poppins', sans-serif;
     margin: 0%;
     padding: 0%;
}
h1{
    font-size: 50px;
}
span{
    color: rgb(247, 112, 2);
}
.hire-me{
    background-color: rgb(247, 112, 2);
    color: aliceblue;
    padding: 10px 50px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
}
.section-1{
    display: flex;
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.section-2{
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
}
.ph{
    margin-right: 50px;
    text-align: justify;
}
section{
    display: flex;
    margin-bottom: 200px;
}
.box-1{
    width: 50%;
    margin-left: 5%;
    text-align: justify;
    padding: 40px;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 100px;
    border-left: 10px solid orange;
    border-radius: 30px;
}
.box-2{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 40px;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 100px;
    border-left: 10px solid blue;
    border-radius: 30px;